*{
	margin: 0;
	padding: 0;
}
header,footer{
	background-color: black;
	height: 100px;
	color: white;
}
header{
	position: relative;
}
footer{
	text-align: center;
	color: white;
	clear: both;
}
#logo{
	width: 50px;
	height: 20px;
}
#nav{
	position: absolute;
	right: 0;
	top: 50%;
	margin: -11px 0 0 0;
}


#nav li{
	display: inline-block;
	list-style-type: disc;
	height: 22px;
	line-height: 22px;
	margin-right: 20px;
}
#list4{
	opacity: 0.7;
}
.main{
	
	background-color: gray;
	overflow: hidden;
	position: static;

}
/*.main:after, .main:before {
    content: "";
    display: table;
}*/

#left1,#left2,#left3,#left4,.right{
	border-bottom: 2px solid gray;
	border-right: 2px solid gray;
	background-color: white;
	margin: 20px 20px 0 20px;
}


.left{
	max-width: 1000px;
	margin-right: 20px;
	float: left;


}
#left1,#left2,#left3,#left4{
	margin-bottom: 20px;
	padding: 40px 20px;
}
#left3 div{
	border: 1px solid gray;
	width: 80px;
	height: 80px;
	float: left;
	margin: 20px 10px 0;
	text-align: center;
	line-height: 25px;
}
#left3{
	overflow: hidden;
}
.right{
	position: static;

	width: 200px;
	height: 30px;
	padding: 20px;
}
 
.right{
	float: left;
}

